[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# disables case sensitivity
lower_case_table_names = 1

# increase the max packet size
max_allowed_packet = 100M


#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
# bind-address		= 127.0.0.1

# set bind-address to 0.0.0.0 to allow connections from anywhere
# this enables connection from host machine to vm without an ssh tunnel
bind-address		= 0.0.0.0

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
